#cloud-config

---
coreos:
  units:
  - name: docker.service
    drop-ins:
    - name: 50-mk-docker.conf
      content: |
        [Service]
        Restart=always
        Restart=on-failure
      command: start

# {{ ansible_managed }}
