---
# delete NAT gateway & Elastic IP
- name: get vpc public subnets
  ec2_vpc_subnet_facts:
    region: "{{ ec2_region }}"
    filters:
      vpc-id: "{{ item.id }}"
      tag:tier: public
  register: vpc_subnet_facts
  with_items: "{{vpc_facts.vpcs}}"

- set_fact:
    vpc_subnet_ids: "{{ item.subnets | map(attribute='id') | list }}"
  with_items: "{{vpc_subnet_facts.results}}"

# get NAT gateway for subnet
- name: get NAT gateway id using subnet id
  shell: "aws ec2 describe-nat-gateways --filter Name=subnet-id,Values={{ item }}"
  register: nat_gateway
  changed_when: false
  with_items: "{{vpc_subnet_ids}}"

# get nat_gateway_list
- set_fact:
    nat_gateway_list: "[]"
- set_fact:
    nat_gateway_list: "{{nat_gateway_list}} + {{(item.stdout | from_json).NatGateways}}"
  with_items: nat_gateway.results

- name: get NAT Gateway ids
  set_fact:
    nat_gateway_ids: "{{ nat_gateway_list | map(attribute='NatGatewayId') | list }}"

# get list on network interface ids
- name: get list of NAT network interface ids
  set_fact:
    nat_networks_ids: >
      {%- set ids = [] %}
      {%- for ads in nat_gateway_list %}
      {%-   for ad in ads['NatGatewayAddresses'] %}
      {%-      set _ = ids.append(ad['NetworkInterfaceId']) %}
      {%-   endfor %}
      {%- endfor %}
      {{- ids -}}

# delete NAT gateway
- name: delete NAT gateways
  ec2_vpc_nat_gateway:
    state: absent
    nat_gateway_id: "{{ item }}"
    release_eip: true
    wait: true
  with_items: "{{ nat_gateway_ids }}"
  ignore_errors: true

# release EIP
- name: disassociate Elastic IP
  ec2_eip:
    state: absent
    region: "{{ ec2_region }}"
    device_id: "{{ item }}"
    release_on_disassociation: true
  with_items: "{{ nat_networks_ids }}"
  ignore_errors: true
